body {
	font-family: "Verdana", "Geneva", "sans-serif";
	font-size: 18px;		
	width: 900px;
}

h1 {
	font-size: 47px;
	line-height: 56px;	
	color: #610d0d;
	
}
h2{
	font-size: 25px;
	line-height: 38px;
	
}

h3{	
	color: #666666;
}
p{
	
	line-height: 27px;
	color: #333;
}

.family-h{
	font-family: tahoma, Helvetica, sans-serif;
}

.size{
	font-size: 18px;
}